/* "#" - identifica qual "id" será personalizada
"." - identifica qual "class" será personalizada */

body{color:white; /* Coloca todo o corpo da página na cor escolhida, exceto os que tiverem suas próprias personalizações.*/
    background-image: url(backs/bg1.jpg); /* Insere imagem no plano de fundo do local desejado (nesse caso, toda a página).*/
    background-attachment: fixed;} /* Fixa a imagem no fundo. Quando rolar a página, somente o conteúdo rola, o fundo não.*/
#p2{color:blueviolet; /* Cor identificada pelo CSS no comando. */
    background-color: rgba(73, 122, 18, 0.26);} /* Cor de fundo do texto. O "a" é o nível de transparência, de 0 a 1. */
#titulo{color:rgb(0, 201, 0);} /* Cor identificada através de código RGB. */
.testeclass{color:#8c00b7;}  /* Cor identificada através de código Hexadecimal. */
#compras{background-image: url(backs/compras.jpg);
        background-size: cover;
        background-position: left;
        background-size: 27%;
        background-repeat: no-repeat; /* Não repete a imagem, caso ela não seja grande o suficiente para a página. */
        color: black;}
#p3{text-decoration: underline;} /* Deixa o texto todo sublinhado. */

/* Medidas no HTML */
#cm{background-color: blue;
    width: 1cm;
    height: 1cm;}
#mm{background-color: red;
    width: 5mm;
    height: 5mm;}
#in{background-color: green;
    width: 1in;
    height: 1in;}
#px{background-color: rgb(255, 238, 0);
    width: 10px;
    height: 10px;}
#pt{background-color: rgb(252, 0, 239);
    width: 10pt;
    height: 10pt;}
#pc{background-color: rgb(255, 117, 4);
    width: 1pc; 
    height: 1pc;}

html{font-size: 20px;}
.container{font-size: 25px;
            width: 60vw; /* "vw" - tamanho do preenchimento no navegador, independente do tamanho que ele estiver na tela, horizontalmente.*/
            background-color: rgb(236, 35, 0);}
.inside{font-size: 1em; /* 1em - 1 vez o tamanho pai, que neste caso o inside está dentro do container. 1rem é o tamanho raiz (html)*/
        width: 50vh;  /* "vw" - tamanho do preenchimento no navegador, independente do tamanho que ele estiver na tela, verticalmente.*/
        background-color: gold;}

#base{height: 10px;
    background-color: deeppink;}
#container2{
    background-color: indigo;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;}
/* O comando "margin" cria uma margem de distância. Se não for especificada, será criada margem nos lados, abaixo e acima.
   O comando "padding" crea uma margem do texto em relação ao background. Se não for especificada, a margem será criada nos lados, acima e abaixo.*/

.borda{
    border-width: 5px;
    border-style: solid;
    border-color: orangered;
    border-radius: 5px;}
.quadrado{
    width: 100px;
    height: 100px;
    background-color: turquoise;}
.dotted{border-top-style: dotted}
.dashed{border-style: dashed;}
.solid{border-style: solid;}
.none{border-style: none;}
.hidden{border-style: hidden;}

.square{
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box;
}
/* Padding - Define uma a distância entre o conteúdo de um elemento e suas bordas.
    box-sizinh - Faz com que o a forma não ultrapasse o tamanho inicial. Neste caso, 100px. */

#p4{
    color: red;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #bbb;
    font-family: serif;
}
a{text-decoration: none;
    color: white;}

.NLI{
    font-family: 'Rock Salt';  /* Fonte linkada diretamente do Google Fonts*/
}

.LLI{
    font-family: 'MinhaFonte';
    text-align: justify;
}
@font-face {
    font-family: MinhaFonte;
    src: url(./fonts/Caramel\ and\ Vanilla.ttf);
    }

.LCS{
    font-size: OutraFonte;
    text-align: justify;
    }

@font-face {
    font-family: OutraFonte;
    src: url(./fonts/Christmas\ Sheep.ttf);
    }

.link{
    text-decoration: none;
    color: darkviolet;
    cursor: cell;
    background-color: aqua;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 3px solid pink}
.link:visited{color: coral;}
.link:hover{
    background-color: darkviolet;
    color: aqua;
}
.unl{
    list-style-type: square;}
.orl{
    list-style-type: upper-roman;}
.eli{
    border: 1px solid deepskyblue;
}